body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: white;
    line-height: 1.5;
    text-align: center;
    font-size: 24px;
    width:100%
}

img {
    display: block;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

#btn-container {
    margin: 35px;
    padding-left: 20px;
}

.btn {
    /* READ MORE BTN */
    color: white;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    background: black;
}



span {
    color: rgb(245, 3, 3);
    /* LOGO AT TOP*/
}


html{
    scroll-behavior: smooth;
}

a{
    color:white;
    text-decoration: none;
}
a:hover{
transform: scale(1.5);
    display: block;
    font-style: bold;
}



.btn:hover {
    color: #333;
    background: #eaeaea;
    display: inline;
}










nav ul,li{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 50px 0 50px;
    padding-left: 66px;
}

nav li a:hover{
    transform: scale(1.8);
    display: block;
    font-style: bold;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




#showcase {
    min-height: 850px;
    color: #eee;
    font-size: 22px;
    background: url('bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 99.999%;
    max-width: 100%;
    opacity: .9;
    padding: 50px;;
    justify-content: center;
}



#showcase h1 {
    padding-top: 70px;
    padding-bottom: 0;
    font-size: 86px;
    font-style: italic ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2.2px;
    line-height: 70px;
    padding-left: 60px;
}

#showcase p{
    padding-left: 50px;
}








#section-a{
    background: #eaeaea;
    color: #333;
    height: 302px;
    padding: 30px 20px 20px 20px;
    padding-bottom: 65px; 
    max-width: 100%;
}

#section-a h2{
    font-size: 33px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#section-a p{
    font-size: 22px;
}



#logosectiona{
    width: 9em;
    height: 5.5em;
    position: relative;
    left: 45%;
}











#section-b{
    padding: 1em 1em 1em;
    margin-bottom: .5em;
    max-width: 100%;
    margin: 0 auto;
}


#section-b ul{
    list-style: none;
    padding:0;
   
}


#section-b li{
    margin-bottom: 1em;
    background: whitesmoke;
    color:#333;
    padding-top: 1em;
    padding-right: 20px;
    font-size: 23px;
}



.card img{
    -webkit-box-shadow: 0 35px 20px #777;
    -moz-box-shadow: 0 35px 20px #777;
    box-shadow: 0 35px 20px #777;
    margin-right: 40px;
}
.card-content{
    padding-right: 20px;
}











#section-c{
    background: #fff;
    color: #333;
    padding-bottom: 1.5em;
    width:100%;
    max-width: 100%;
}













#section-d .box{
    padding: 20px 29px;
    
    color:white;
}


#section-d .box:first-child{
    background: rgba(172, 13, 13, 0.507);
    font-size: 20px;
}
#section-d .box:nth-child(2){
    grid-column: 4/-1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 22px;
}

#email{
    color:white;
    text-decoration: none;
}










#main-footer{
    background: #000;
    color: #fff;
    padding: 2em 0;
    text-align: center;
    font-size: 19px;
}

#main-footer div{
    grid-column: span 2;  
}














.grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr))
}


.content-wrap, ul{
    grid-column: 1/-1;
}




